<?xml version="1.0"?>
<launch>
    <arg name="base_name1" default="panda1/base"/>
    <arg name="base_name2" default="panda2/base"/>
    <arg name="base_name3" default="panda3/base"/>
    <arg name="base_name4" default="panda4/base"/>
    <!--transformation from object to end effector of manipulators-->
    <arg name="obj_end1" default="[0.707,0.707,0,0.4897,0.707,-0.707,0,-0.4424,0,0,-1,0.0788,0,0,0,1]"/>
    <arg name="obj_end2" default="[0.707,0.707,0,-0.5103,0.707,-0.707,0,-0.4394,0,0,-1,0.0929,0,0,0,1]"/>
    <arg name="obj_end3" default="[-0.707,-0.707,0,0.4897,-0.707,0.707,0,0.4466,0,0,-1,0.0939,0,0,0,1]"/>
    <arg name="obj_end4" default="[-0.707,-0.707,0,-0.5103,-0.707,0.707,0,0.4466,0,0,-1,0.0939,0,0,0,1]"/>
    
    <group ns="panda1">
        <node pkg="simu" type="task_space_control.py" name="ts_control_sim_only" output="screen">
            <param name="base" value="panda1/base"/>
        </node>

        <node pkg="simu" type="equilibrium.py" name="equilibrium">
            <rosparam file="$(find simu)/scripts/config/equilibrium.yaml" command="load"/>
            <rosparam param="base_name" subst_value="True">$(arg base_name1)</rosparam>
            <rosparam param="obj_end" subst_value="True">$(arg obj_end1)</rosparam>
        </node>
    </group>   
   
    <group ns="panda2">
        <node pkg="simu" type="task_space_control.py" name="ts_control_sim_only" output="screen">
            <param name="base" value="panda2/base"/>
        </node>

        <node pkg="simu" type="equilibrium.py" name="equilibrium">
            <rosparam file="$(find simu)/scripts/config/equilibrium.yaml" command="load"/>
            <rosparam param="base_name" subst_value="True">$(arg base_name2)</rosparam>
            <rosparam param="obj_end" subst_value="True">$(arg obj_end2)</rosparam>
        </node>
    </group>

    <group ns="panda3">
        <node pkg="simu" type="task_space_control.py" name="ts_control_sim_only" output="screen">
            <param name="base" value="panda3/base"/>
        </node>

        <node pkg="simu" type="equilibrium.py" name="equilibrium">
            <rosparam file="$(find simu)/scripts/config/equilibrium.yaml" command="load"/>
            <rosparam param="base_name" subst_value="True">$(arg base_name3)</rosparam>
            <rosparam param="obj_end" subst_value="True">$(arg obj_end3)</rosparam>
        </node>
    </group>

    <group ns="panda4">
        <node pkg="simu" type="task_space_control.py" name="ts_control_sim_only" output="screen">
            <param name="base" value="panda4/base"/>
        </node>

        <node pkg="simu" type="equilibrium.py" name="equilibrium">
            <rosparam file="$(find simu)/scripts/config/equilibrium.yaml" command="load"/>
            <rosparam param="base_name" subst_value="True">$(arg base_name4)</rosparam>
            <rosparam param="obj_end" subst_value="True">$(arg obj_end4)</rosparam>
        </node>
    </group>
</launch>